<!--Add Featured Heroes  -->

<div class="container justify-content-center">
  <div class="row align-items-start mt-2">
    <h2>About Us</h2>
    <div class="col-lg-8">
      <p class="first-letter">
        It’s the year 3542. Some people turned into superheroes. They have solved many of the world's problems, however
        emergencies still occur sometimes.
        That's where we come in.
        <br>
        <br>
        Pursuant to the <strong>Super-human Registration Act</strong> (<strong>SRA</strong>, <strong>S.R.A.[1]</strong>
        or
        sometimes <strong>SHRA</strong>) 6 U.S.C, § 558[2] all superheroes are required to register with the government.
        You may use this portal to register.
      </p>
    </div>
    <div class="col-lg-4">
      <img src="assets/imgs/registration-act-2.jpg" alt="Registration Act" width="300px">
    </div>
  </div>
  <hr>
  <div class="row align-items-start">
    <h2 class="display-8">About the Super-human Registration Act</h2>
    <div class="col-lg-4">
      <img src="assets/imgs/registration-act.jpg" alt="Registration Act" width="300px">
    </div>
    <div class="col-lg-8">
      <p class="first-letter">
        The <strong>Super-human Registration Act</strong> (<strong>SRA</strong>, <strong>S.R.A.[1]</strong> or sometimes
        <strong>SHRA</strong>) 6 U.S.C, § 558[2] - is a legislative bill (HR 421)[3] which was passed into law in the
        United States of America, enforcing the mandatory registration of super-powered individuals with the government.
        Supporters and critics continue to debate the rights of the individual (to freedom of action and expression
        etc.)
        on
        one side versus the rights of society at large (to safety from danger or harm) on the other.
      </p>
    </div>
  </div>
  <hr>
  <div class="row align-items-start">
    <h2 class="display-8">Today's Featured Heroes</h2>
    <div class="col col-lg-4 col-md-6 col-sm-6" *ngFor="let hero of featuredHeroes">
      <app-card [superhero]="hero" [parent]="'home'"></app-card>
    </div>
  </div>
</div>
