/* Font Imports */
@font-face {
  font-family: 'HallOfHeroesIcons';
  src: url('../src/assets/fonts/HallOfHeroes-BErn.ttf');
}

@font-face {
  font-family: 'WolfsBaneAcademyExpanded';
  src: url('../src/assets/fonts/WolfsBaneExpanded-yR3V.ttf');
}

* {
  font-family: 'WolfsBaneAcademyExpanded';
}

p, td, .table-data, .form-control {
  font-family: 'Roboto', Arial, sans-serif;
}

/* CSS styles for the card */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  color: #67c7eb;
  box-shadow: 5px 5px 5px #67c7eb;
  -moz-box-shadow: 5px 5px 5px #67c7eb;
  -webkit-box-shadow: 5px 5px 5px #67c7eb;
  -khtml-box-shadow: 5px 5px 5px #67c7eb;
  font-family: 'WolfsBaneAcademyExpanded';
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #67c7eb;
  -moz-box-shadow: 5px 5px 5px #67c7eb;
  -webkit-box-shadow: 5px 5px 5px #67c7eb;
  -khtml-box-shadow: 5px 5px 5px #67c7eb;
}

.card-content {
  padding: 16px;
}

.card-title, .form-title {
  font-weight: bold;
  margin-top: 0;
  color: #FBCA03;
  font-size: 3rem;
}

.first-letter::first-letter {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'WolfsBaneAcademyExpanded';
}

.card-powers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-powers-title {
  color: #FBCA03;
}

figcaption span {
  color: #FBCA03;
}

/* CSS styles for the navigation links and navbar */
.nav-header{
  font-weight: bolder;
  color: #6c757d;
  text-shadow: 1px 1px 2px #FBCA03, 0 0 25px #67c7eb, 0 0 5px #FBCA03;
}

#nav-header-title{
  font-size:6em;
}

.navbar-img{
  box-shadow: 5px 5px 5px #67c7eb;
  -moz-box-shadow: 5px 5px 5px #67c7eb;
  -webkit-box-shadow: 5px 5px 5px #67c7eb;
  -khtml-box-shadow: 5px 5px 5px #67c7eb;
}

.nav-header, .nav-link {
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: #67c7eb;
}

.nav-link:active {
  color: #FBCA03;
}

.nav-link-btn {
  background-color: #FBCA03;
  box-shadow: 5px 5px 5px #67c7eb;
  -moz-box-shadow: 5px 5px 5px #67c7eb;
  -webkit-box-shadow: 5px 5px 5px #67c7eb;
  -khtml-box-shadow: 5px 5px 5px #67c7eb;

  display: inline-block;
  padding: 12px 24px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-link-btn:hover, .dropdown-content a:hover {
  color: #67c7eb;
  background-color: black;
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link-btn:active {
  transform: translateY(4px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

nav {
  width: 100vw;
    background-color: #6A0c0B;
}

a, #nav-link-btn {
  z-index: 1;
  font-weight: 500;
  font-size: 22px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  display: block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FBCA03;
  min-width: 160px;
  z-index: 1;
  box-shadow: 5px 5px 5px #67c7eb;
  -moz-box-shadow: 5px 5px 5px #67c7eb;
  -webkit-box-shadow: 5px 5px 5px #67c7eb;
  -khtml-box-shadow: 5px 5px 5px #67c7eb;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CSS styles for the details button */
.details-button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #FBCA03;
  box-shadow: 5px 5px 5px #67c7eb;
  -moz-box-shadow: 5px 5px 5px #67c7eb;
  -webkit-box-shadow: 5px 5px 5px #67c7eb;
  -khtml-box-shadow: 5px 5px 5px #67c7eb;
}

.details-arrow {
  margin-right: 8px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #333;
  transition: transform 0.2s ease-in-out;
}

.details-button[open] .details-arrow {
  transform: rotate(90deg);
}

  /* CSS for toolbar */

  .toolbar {
    border-radius: 8px;
    box-shadow: 5px 5px 5px #67c7eb;
    -moz-box-shadow: 5px 5px 5px #67c7eb;
    -webkit-box-shadow: 5px 5px 5px #67c7eb;
    -khtml-box-shadow: 5px 5px 5px #67c7eb;
  }

  .toolbar-btn{
    background-color: #67c7eb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-weight: 500;
    font-size: 22px;
    border-radius: 8px;
  }

  .toolbar-btn:hover {
    background-color: #FBCA03;
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .toolbar-btn:active {
    transform: translateY(4px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .toolbar-link {
    color: #67c7eb;;
  }

  .toolbar-link:hover {
    color: #FBCA03
  }

  input, select {
    border-radius: 8px;
  }

  .no-matches p, .table-heading {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'WolfsBaneAcademyExpanded';
  }

  .table-heading {
    font-size: 3rem;
    font-weight: bold;
  }

  th {
    font-size: 2rem;
    color: #FBCA03;
  }

/*
  CSS for form and modal */

.modal-header,.modal-footer {

  color: #6A0c0B !important;
  background-color: #67c7eb!important;
}

.modal-title {
  font-size: 2rem;
}

.modal-body, .modal-body::first-letter {
  font-size: 1rem;
  font-family: 'Roboto', Arial, sans-serif;
  color: #6A0c0B;

}

.submit-btn {
  color: #67c7eb !important;
  background-color:#6A0c0B !important;
  font-size: 3rem !important;
}

.modal-btn {
  color: #6A0c0B !important;
  background-color:#67c7eb !important;
  font-size: 2rem;
}

label {
  font-size: 2rem;
}

input[type="checkbox"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]:checked{
  background-color: #67c7eb;
  color: #fff;
}

.req {
  color: red;
  font-family: 'Roboto', Arial, sans-serif;
}

input:required {
  background-color: #FBCA03;
}


/* CSS For Table*/
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #67c7eb;
 }

 .table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #fcf340;
 }


