
input[type="checkbox"] {
  /* appearance: none; */
  background-color: #fff;
  margin: 0;
  font-size: 2rem;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]:checked{
  background-color: #595959;
  color: #fff;
}

/* .form-control + .form-control {
  margin-top: 1em;
} */
