<div class="container d-flex justify-content-center">
  <div class="row align-self-start p-4">
    <div class="toolbar d-flex justify-content-between bg-secondary m-2 p-2">
      <a a href="javascript:void(0)" (click)="goBack()" class="toolbar-link" routerLinkActive="active"><i
          class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
    </div>
  </div>
</div>


<div class="container d-flex justify-content-center">
  <div class="card mx-5 mb-5 p-4 w-100 bg-secondary align-self-center">
    <div class="row align-items-center p-3">
      <form novalidate #heroForm>
        <!-- Row 1 -->
        <div class="rounded row review-form p-3 mt-4 mb-4 w-100">
          <h2 class="form-title">{{title}}</h2>
          <div class="col-md-6 form-line">
            <div class="form-group mb-2">
              <!-- Max length for Name, Nickname, Alias is 100 characters, minlength is 3 -->
              <!--Use the regex below to only allow the following for Name, Nickname, Alias:
                    lowercase and/or uppercase letters
                    spaces
                    dashes (-)
                    apostrophes (')
                    period(.)
                pattern="^[a-zA-Z.'\- ]+$"
                -->
              <label for="heroName">Name <span class="req">*</span></label>
              <input type="text" class="form-control" id="heroName" name="heroName" [(ngModel)]="newSuperhero.name"
                [ngModelOptions]="{standalone: true}" #heroName="ngModel" placeholder="Enter Name" required
                pattern="^[a-zA-Z.'\- ]+$" minlength="3" maxlength="50">
            </div>
            <div *ngIf="heroName.invalid && (heroName.dirty || heroName.touched)" class="alert">
              <div *ngIf="heroName.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="heroName.errors?.['minlength']">
                Name must be at least 3 characters long.
              </div>
              <div *ngIf="heroName.errors?.['pattern']">
                Only the following characters are allowed:
                spaces,
                dashes (-),
                apostrophes ('),
                periods(.)
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="alias">Alias ( Real Name ) <span class="req">*</span></label>
              <input type="text" class="form-control" #alias="ngModel" id="alias" name="alias"
                [(ngModel)]="newSuperhero.alias" [ngModelOptions]="{standalone: true}" required
                pattern="^[a-zA-Z.'\- ]+$" minlength="3" maxlength="50" placeholder="Enter Alias">
            </div>
            <div *ngIf="alias.invalid && (alias.dirty || alias.touched)" class="alert">
              <div *ngIf="alias.errors?.['required']">
                Alias is required.
              </div>
              <div *ngIf="alias.errors?.['minlength']">
                Alias must be at least 3 characters long.
              </div>
              <div *ngIf="alias.errors?.['pattern']">
                Only the following characters are allowed:
                spaces,
                dashes (-),
                apostrophes ('),
                periods(.)
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="nickName">Nickname</label>
              <input type="text" class="form-control" #nickName="ngModel" id="nickName" name="nickName"
                [(ngModel)]="newSuperhero.nickname" [ngModelOptions]="{standalone: true}" pattern="^[a-zA-Z.'\- ]+$"
                minlength="3" maxlength="50" placeholder="Enter Nickname">
            </div>
            <div *ngIf="nickName.invalid && (nickName.dirty || nickName.touched)" class="alert">
              <div *ngIf="nickName.errors?.['minlength']">
                Nickname must be at least 3 characters long.
              </div>
              <div *ngIf="nickName.errors?.['pattern']">
                Only the following characters are allowed:
                spaces,
                dashes (-),
                apostrophes ('),
                periods(.)
              </div>
            </div>
            <!-- Email regex checks to see that only characters within brackets are allowed and pattern contains an '@' and '.' -->
            <div class="form-group mb-2">
              <label for="email">Email <span class="req">*</span></label>
              <input type="text" class="form-control" id="email" #email="ngModel" name="email"
                [(ngModel)]="newSuperhero.email" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$"
                [ngModelOptions]="{standalone: true}" placeholder="test@test.com">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
              <div *ngIf="email.errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="email.errors?.['pattern']">
                Email must match email format and contain an '@' and '.'
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="phone">Enter phone in following format: XXX-XXX-XXXX <span class="req">*</span></label>
              <input type="tel" #phone="ngModel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" id="phone"
                minlength="10" maxlength="12" name="phone" [(ngModel)]="newSuperhero.phoneNumber"
                [ngModelOptions]="{standalone: true}" placeholder="123-123-1234" required>
            </div>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
              <div *ngIf="phone.errors?.['required']">
                Phone is required.
              </div>
              <div *ngIf="phone.errors?.['pattern']">
                Phone must match the following format: XXX-XXX-XXXX
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="descriptionComments"> Description</label>
              <textarea class="form-control" rows="5" cols="40" id="descriptionComments"
                [(ngModel)]="newSuperhero.description" [ngModelOptions]="{standalone: true}"
                placeholder="Enter Your Message"></textarea>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <img id="review-form-img" class="rounded" src="assets/imgs/superhero-registration.jpg"
              alt="Superhero Registraiton" width="500px">
            <div class="form-group mb-2">
              <label for="dobDate">Image Path</label>
              <input type="text" class="form-control imagePath" [(ngModel)]="newSuperhero.imagePath"
                [ngModelOptions]="{standalone: true}" placeholder="assets/imgs/superheroes/superhero.jpg">
            </div>
            <div class="form-group mb-2">
              <label for="dobDate">Date of Birth</label>
              <input type="date" [max]="maxDob" class="form-control" id="dobDate" name="dobDate"
                [(ngModel)]="newSuperhero.dob" [ngModelOptions]="{standalone: true}" placeholder="mm/dd/yyyy">
            </div>
          </div>
        </div>
        <!-- Row 1 -->

        <!-- Row 2 -->
        <div class="rounded row review-form p-3 mt-4 mb-4 w-100">
          <div class="col-md-12 align-self-center">
            <div *ngIf="action ==='PUT'" class="col-md-12">
              <div class="form-group mb-2">
                <label>
                  <input type="checkbox" [(ngModel)]="newSuperhero.featured" [ngModelOptions]="{standalone: true}">
                  Feature on Home Page
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Row 2 -->

        <div class="col-md-12 d-flex justify-content-center align-items-center mt-5">
          <div class="text-center">
            <button type="button" class="btn submit-btn" (click)="onSubmitForm()">Submit</button>
            <div id="confirmationText" *ngIf="showModalBool && isValid">
              <p>Registration submitted!</p>
            </div>
          </div>
        </div>
        <p><span class="req">*</span> - Required field</p>
      </form>
    </div>
  </div>
</div>

<!-- Add Confirmation Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <app-superhero-modal [title]="modalTitle" [body]="modalBody" (close)="onClose()"></app-superhero-modal>
</div>
