<div class="container card-container row mt-5 mb-5 d-flex justify-content-center rounded">
  <div class="card mb-3 p-4 w-100 bg-secondary">
    <div class="row g-0">
      <div class="col-md-4">
        <figure>
          <img src={{superhero.imagePath}} class="img-fluid rounded-start card-img" alt={{superhero.name}}>
          <figcaption class="p-3 fs-4"><span>Nickname:</span> {{superhero.nickname}}</figcaption>
        </figure>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bolder fs-1">{{superhero.name}}</h5>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-6 col-md-12">
        <!-- List Powers -->
        <span class="card-powers-title fs-3">Powers</span>
        <div class="d-flex mb-4 border-top border-light">
          <ul class="card-powers fs-4">
            <li *ngFor="let power of superhero.superpowers">{{ power.name }}</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <span class="card-powers-title fs-3">Weakness</span>
        <div class="d-flex mb-4 border-top border-light">
          <ul class="card-powers fs-4">
            <li>{{superhero.weaknessName}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row g-0 text-center align-self-center ">
      <div *ngIf="parent !== 'home'"class="col-lg-6 ">
        <button class="details-btn nav-link-btn p-3" id="deleteSuperhero"
        (click)="openConfirmationDialog(superhero)"><i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-lg-6">
        <button class="details-btn nav-link-btn">
          <a class="nav-item nav-link list-item" [routerLink]="['/superheroes', superhero.superheroId]"
            routerLinkActive="active"><i class="fa fa-share"> <span class="nav-item nav-link">DETAILS</span></i></a>
        </button>
      </div>
    </div>
  </div>
</div>
