<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="text-center">
        <h1 class="nav-header" id="nav-header-title">{{title}}</h1>

        <div class="w-100 pb-3">
          <img class="banner-img" src="assets/imgs/dc-banner.jpg" alt="DC Banner" width="600px">
          <img class="banner-img" src="assets/imgs/marvel-banner.jpg" alt="Marvel Banner" width="600px">
        </div>
        <h4 class="nav-header">{{titleSubtext}}</h4>
        <ul class="nav d-flex justify-content-around">
          <li>
            <div class="text-center">
              <button class="nav-link-btn"><a class="nav-item nav-link list-item" routerLink="/"
                  routerLinkActive="active">HOME</a></button>
            </div>
          </li>
          <li>
            <div class="text-center">
              <button class="nav-link-btn"><a class="nav-item nav-link list-item" routerLink="/superheroes"
                  routerLinkActive="active">HALL OF HEROES</a></button>
            </div>
          </li>
          <li>
            <div class="text-center">
              <button class="nav-link-btn"><a class="nav-item nav-link list-item" routerLink="/superpowers"
                  routerLinkActive="active">POWERS/WEAKNESSES</a></button>
            </div>
          </li>
          <li>
            <div class="text-center">
              <button class="nav-link-btn"><a class="nav-item nav-link list-item" routerLink="/superhero-form"
                  routerLinkActive="active">HERO REGISTRATION</a></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
