footer {
  background-color: #6A0c0B;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  color: white;
  font-family: 'WolfsBaneAcademyExpanded';
}
