
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
      <p>{{body}}</p>
      <br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn submit-btn"
              (click)="onModalClose()">
        Close
      </button>
    </div>
  </div>
</div>

