<div class="container justify-content-center">
  <h2>Details</h2>
  <div class="row align-items-start p-3">
    <div class="toolbar d-flex justify-content-between bg-secondary mb-4 p-2">
      <a a href="javascript:void(0)" (click)="goBack()" class="toolbar-link" routerLinkActive="active"><i
          class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
      <button id="addSuperhero" class="toolbar-btn" (click)="addSuperhero(superhero)">Add Superhero</button>
      <button id="editSuperhero" class="toolbar-btn" (click)="editSuperhero(superhero)">Edit {{superhero.name}}
        Details</button>
      <button id="deleteSuperhero" class="toolbar-btn" (click)="openConfirmationDialog(superhero)">Delete
        {{superhero.name}}</button>
      <a class="toolbar-link" href="mailto: {{superhero.email}}" target="_blank" rel="noopener noreferrer"><i
          class="fa fa-envelope" aria-hidden="true"></i> Email {{superhero.name}}</a>
    </div>
    <div class="card mb-3 p-3 w-100 bg-secondary">
      <div class="row lg-12 md-12 sm-12 align-items-start">
        <div class="detail-section p-2">
          <figure>
            <img src={{superhero.imagePath}} alt="{{superhero.name}} profile pic" class="profile" />
          </figure>
          <figcaption class="p-2">
            <h2>{{superhero.name}}<span>{{superhero.nickname}}</span></h2>
          </figcaption>


          <div class="detail-section p-2">
            <p class="first-letter">{{superhero.description}}</p>
          </div>
        </div>

      </div>
      <div class="row lg-12 md-12 sm-12 align-items-start">
        <div class="detail-section p-2">
          <h3>Personal Information</h3>
          <p><span>Alias: </span>{{superhero.alias}}</p>
          <p><span>Date of Birth: </span>{{superhero.dob}}</p>
          <p><span>Phone Number: </span>{{superhero.phoneNumber}}</p>
          <p><span>Email: </span>{{superhero.email}}</p>
        </div>
        <div class="detail-section p-2">
          <h3>Weakness</h3>
          <p><span>Name: </span>{{superhero.weaknessName}}</p>
          <p><span>Description: </span>{{superhero.weaknessDescription}}</p>
        </div>
        <div class="detail-section p-2">
          <h3>Powers</h3>
          <table class="table detail-section mt-3">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <tr
                [ngStyle]="{'background-color': ((power.category && power.category.name)) ? getColor(power.category.name) : getColor(power.catgName)}"
                *ngFor="let power of superhero.superpowers">
                <td>{{power.name}}</td>
                <td>{{power.description}}</td>
                <td>{{power.catgName}} - {{power.catgDescription}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal for editing person data -->
    <div class="modal" tabindex="-1" role="dialog" ng-show="showEditModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Person</h5>
            <button type="button" class="close" ng-click="closeEditModal()">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="editId">ID</label>
                <input type="text" class="form-control" id="editId" ng-model="editPersonData.id" readonly>
              </div>
              <div class="form-group">
                <label for="editName">Name</label>
                <input type="text" class="form-control" id="editName" ng-model="editPersonData.name">
              </div>
              <div class="form-group">
                <label for="editAge">Age</label>
                <input type="number" class="form-control" id="editAge" ng-model="editPersonData.age">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="savePerson()">Save</button>
            <button type="button" class="btn btn-secondary" ng-click="closeEditModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
