
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.detail-section {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 10px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  border-radius: 8px;
}

.detail-section figcaption {
  width: 100%;
  background-color: #141414;

}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

.detail-section h2,h3 {
  margin: 0 0 5px;
  font-weight: 300;
  color: #FBCA03;
}
.detail-section h2 span {
  display: block;
  font-size: 0.5em;
  color: #67c7eb;
}
.detail-section p span {
  display: block;
  font-size: 1.5em;
  color: #67c7eb;
}
.detail-section p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1.2px;
}

thead {
  color: #67c7eb;
  font-size: 1.5rem;
}

tr {
  color: black;
}
