<div class="container justify-content-center">
  <h2>Hall of Heroes</h2>
  <div class="row align-items-start">
    <div class="toolbar d-flex justify-content-between p-2 m-2 bg-secondary">
      <a a href="javascript:void(0)" (click)="goBack()" class="toolbar-link" routerLinkActive="active"><i class="fa fa-arrow-left"
        aria-hidden="true"></i> Go Back</a>
      <button id="getAllHeroesBtn" class="toolbar-btn m-2" (click)="getAllSuperheroes()">Get all Superheroes</button>
      <select class="select m-2" data-style="btn-info" id="activitiesSelect" (change)="onSelectSuperpower($event)">
        <option id="blankSelect" value="">Filter By Power:</option>
        <option id="blankSelect" value="">All Powers</option>
        <option *ngFor="let power of superpowers" value={{power.name}}>
          {{power.name}}
        </option>
      </select>
      <div class="d-flex justify-content-end m-2">
        <input type="search" placeholder="Name, Nickname, Alias" id="searchNameInput" name="searchNameInput" #searchNameInput>
        <button id="searchNameBtn" class="toolbar-btn" (click)="searchByName(searchNameInput.value)">Search by Name</button>
      </div>
      <div class="d-flex justify-content-end m-2">
        <input type="search" placeholder="Power" id="searchPowerInput" name="searchPowerInput" #searchPowerInput>
        <button id="searchPowerBtn" class="toolbar-btn" (click)="searchByPower(searchPowerInput.value)">Search By Power</button>
      </div>
    </div>
    <div class="col col-lg-12 no-matches">
      <ng-container #noMatchingHeroes>
        <p *ngIf="noMatchingHeroesBool">No Matches Available</p>
      </ng-container>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-6" *ngFor="let superhero of superheroes">
      <app-card [superhero]="superhero" [parent]="'superheroes'"></app-card>
    </div>
  </div>
</div>
