<div class="container justify-content-center">
  <div class="row align-items-start">
    <div class="col col-lg-6 col-md-6 col-sm-6">
      <h2 class="table-heading">Superpowers</h2>
      <div class="toolbar d-flex justify-content-between p-2 bg-secondary">
        <a a href="javascript:void(0)" (click)="goBack()" class="toolbar-link m-2" routerLinkActive="active"><i
            class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
        <button id="getAllPowersBtn" class="toolbar-btn m-2" (click)="getAllSuperpowers()">Get all Powers</button>
        <select class="select m-2" data-style="btn-info" id="categoriesSelect" (change)="onSelectCategory($event)">
          <option id="blankSelect" value="">Filter By Power Category:</option>
          <option id="blankSelect" value="">All Categories</option>
          <option *ngFor="let category of powerCategories" value={{category.catgId}}>
            {{category.name}}
          </option>
        </select>
        <div class="d-flex justify-content-end m-2">
          <input type="search" placeholder="Name, Description" id="searchPowerNameInput" name="searchPowerNameInput"
            #searchPowerNameInput>
          <button id="searchNameBtn" class="toolbar-btn" (click)="searchByPowerName(searchPowerNameInput.value)">
            <i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="container card-container row mt-5 mb-5 d-flex justify-content-center rounded">
        <div class="card mb-3 p-4 w-100 bg-secondary">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Superheroes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let power of superpowers"
                [ngStyle]="{'background-color': ((power.category && power.category.name)) ? getColor(power.category.name) : getColor(power.catgName)}">
                <td>{{ power.name }}</td>
                <td>{{ power.description }}</td>
                <td *ngIf="!power.category">{{ power.catgName }}</td>
                <td *ngIf="power.category">{{ power.category.name }}</td>
                <td>
                  <div class="table-data" *ngFor="let hero of power.superheroes">{{hero.name}}
                    <hr>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col col-lg-12 no-matches">
            <ng-container>
              <p *ngIf="noMatchingPowersBool">No Matching Powers Available</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6">
      <h2 class="table-heading">Weaknesses</h2>
      <div class="toolbar d-flex justify-content-between p-2 bg-secondary">
        <button id="getAllPowersBtn" class="toolbar-btn m-2" (click)="getAllWeaknesses()">Get all Weaknesses</button>
        <div class="d-flex justify-content-end m-2">
          <input type="search" placeholder="Name, Description" id="searchWeaknessNameInput"
            name="searchWeaknessNameInput" #searchWeaknessNameInput>
          <button id="searchNameBtn" class="toolbar-btn"
            (click)="searchByWeaknessName(searchWeaknessNameInput.value)"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="container card-container row mt-5 mb-5 d-flex justify-content-center rounded">
        <div class="card mb-3 p-4 w-100 bg-secondary">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Superheroes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let weakness of weaknesses">
                <td>{{ weakness.name }}</td>
                <td>{{ weakness.description }}</td>
                <td *ngIf="weakness.superheroes">
                  <div class="table-data" *ngFor="let hero of weakness.superheroes">{{hero.name}}
                    <hr>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col col-lg-12 no-matches">
            <ng-container>
              <p *ngIf="noMatchingWeaknessesBool">No Matching Powers Available</p>
            </ng-container>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
